.header{
    text-align:center;      /* center everything */
    padding-top:10px;       /* keep it at top */
}

.navbar{
    display:flex;
    justify-content:center; /* center links */
    gap:30px;               /* space between links */
    margin-top:10px;
}

.navbar a{
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    color:white;
}