body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

button:hover {
  background: #2563eb;
}

.container {
  width: 350px;
  margin: 80px auto;
  padding: 25px;
  background: #1e293b;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

p {
  text-align: center;
  margin-top: 15px;
  color: #93c5fd;
}

p:hover {
  text-decoration: underline;
}